*{
   box-sizing: border-box; 
   z-index: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section {
    padding: 1em 0em;
    position: relative;
    width: 100%;
}

.navbar{
    background-color: rgba(128, 128, 128, 1);
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: none;
     margin: 0%;
}

.banner{
    width: 100%;
    padding: 0%;
    align-self: center;
}

.logonav{
    background: url(img/ScrArmy.png) no-repeat;
    background-size: contain;
    float: left;
    height: 10vh;
    margin-left: 2vh;
    width: 25%;
}

.navbar.navbar-nav {
    margin: 0%;
}

.navbar .navbar-nav .navitem {
    /* border-right: 0.03125em solid rgba(255, 255, 255, 1); */
    display: inline;
    /* padding: 1em 1em; */
    list-style: none;
    align-self: center;
}

.navbar-nav .navitem a{
    text-decoration: none;
    display: inline-block;
    font-size: 0.95rem;
    letter-spacing: 0.3rem;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
}

.navbarcolapse{
    float: right;
    text-align: right;
    width: 70%;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out; 
    animation: slideOutUp;
    animation-duration: 500ms;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 10vh;
    text-align: center;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 5vh;
    text-align: center;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

footer{
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #808080;
    color: rgba(255, 255, 255, 1);
}

.hamburguesa{
    float: right;
    height: 6vh;
    margin: 2vh 2vh;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    display: none;
}

@media screen and (max-width:456px){
    .logonav{
        display: inline-block;
        align-self: center; 
    }

    .hamburguesa{
        display: inline-block;
    }

    .navbar-nav{
        color: white;
        padding: 0%;
        float: center;
        align-items: center;
    }

    .navbar .navbar-nav .navitem{
        display: block;
        list-style: none;
    }

    .navbarcolapse{
        width: 100%;
        overflow: hidden;
        text-align: center;
        height: 0vh;        
    }

    .colapse{
        height: auto; 
        transition: all 200ms ease-in-out;
        animation: slideInDown;
        animation-duration: 500ms;
    }
} 
/* la imagen siempre ocupará el 100% de su padre. */
.banner>img{
    width: 100%;
    max-width: 400px; 
}